[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/distinguished"]
	path = vim/bundle/distinguished
	url = git@github.com:Lokaltog/vim-distinguished.git
[submodule "vim/bundle/seti"]
	path = vim/bundle/seti
	url = git@github.com:trusktr/seti.vim.git
[submodule "vim/bundle/vim-javascript-syntax"]
	path = vim/bundle/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/bundle/delmitmate"]
	path = vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
